/*========== RESET CSS ========== */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* NAVBAR */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.barnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/*logo*/
.navlogo img {
  height: 30px;
}

/*link di navigazione */

.navlink ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navlink a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

/*nuttone di acesso*/

.navlogin button {
  background-color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 600;
 
}

/* HEADER */
header {
  background-image: url(../img/jumbo.png);
  color: white;
  height: 800px;
  background-repeat: no-repeat;
}

/*contenitore centrale dove ce il testo*/

.container-header {
  text-align: center;
  padding: 80px 20px;
}

.internal-container {
  max-width: 800px;
  margin: 0 auto;
}

 /*titolo principale del header */

 h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
}

 /*paragrafo del header*/

 p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
}

/*bottone di scarico e apertuna server*/

.btn-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 14px 26px;
  border-radius: 28px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.btn.white {
  background-color: white;
  color: black;
}

.btn.dark {
  background-color: #23272a;
  color: white;
}

/* ========== SEZIONI MAIN ========== */


.bg-gray {
  background-color: rgb(194, 181, 181);
    padding: 100px 0;
}

/* ========== SEZIONI MAIN ========== */
.section-white {
  background-color: white;
  padding: 100px 0;
}


/* Contenitore principale 60/40 */
.container-6040 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 60px;
  padding: 0 40px;
}

/* sezione 2 alterno l'ordine elementi */
.reverse {
  flex-direction: row-reverse;
}

/* Colonna immagine */
.large-con {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
}

.large-con img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

/* Colonna testo */
.small-con {
  flex-basis: 40%;
}

.small-con h2 {
  font-size: 42px;
  font-weight: 800;
  color: #23272a;
  
  margin-bottom: 20px;
}

.small-con p {
  font-size: 18px;
  color: #23272a;
  
}