
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* NAVBAR */
.container {
  max-width: 1080px;
  margin: 0 auto;
}

/* HEADER */
header {
  background-image: url(../img/jumbo.png);
  color: white;
  height: 800px;
  background-repeat: no-repeat;
}

.barnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/*logo*/
.img {
  height: 30px;
}

/*link di navigazione */

.navlink ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navlink a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

/*nuttone di acesso*/

.navlogin button {
  background-color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 600;
 
}


/*contenitore centrale dove ce il testo*/

.container-header {
  text-align: center;
  padding: 80px 20px;
}

.internal-container {
  max-width: 800px;
  margin: 0 auto;
}

 /*titolo principale del header */

 h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

 /*paragrafo del header*/

 p {
  font-size: 18px;
  margin-bottom: 40px;
}

/*bottone di scarico e apertuna server*/

.btn-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 14px 26px;
  border-radius: 28px;
  border: none;
  font-size: 16px;
  
}

.btn.white {
  background-color: white;
  color: black;
}

.btn.dark {
  background-color: #23272a;
  color: white;
}

/* ========== SEZIONI MAIN ========== */


.bg-gray {
  background-color: rgb(194, 181, 181);
    padding: 100px 0;
}


.section-white {
  background-color: white;
  padding: 100px 0;
}


/* Contenitore principale 60/40 */
.container-6040 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
  margin: 0 auto;
  gap: 60px;
  padding: 0 40px;
}

/* sezione 2 alterno l'ordine elementi */
.reverse {
  flex-direction: row-reverse;
}

/* Colonna immagine */
.large-con {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
}

.large-con img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

/* Colonna testo */
.small-con {
  flex-basis: 40%;
}

.small-con h2 {
  font-size: 42px;
  font-weight: 800;
  color: #23272a;
  
  margin-bottom: 20px;
}

.small-con p {
  font-size: 18px;
  color: #23272a;
  
}


/*sezione verde*/

.section-contact {
  background-color: white;      
  text-align: center;           
  padding: 80px 20px;           
}

.section-contact h2 {
  font-size: 28px;
  color: #23272a;               
  font-weight: 700;
  margin-bottom: 15px;
}

.section-contact p {
  color: #555;
  font-size: 16px;
  max-width: 650px;
  margin: 0 auto 40px auto;     
}

.section-contact img {
  max-width: 600px;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.section-contact h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-bottom: 20px;
}

.btn-download {
  background-color: #5865f2;    
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 30px;
  font-size: 16px;
  
}

.btn-download {
  background-color: #4752c4;    
}









/*fottor finale*/

.footer {
  background-color: #23272a;
  color: white;
  padding: 50px 80px;
  
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



.footer-brand h3 {
  color: #5865f2; 
  font-size: 22px;
  font-weight: bold;
}

.lang {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 8px;
}




.footer-column h4 {
  color: #5865f2;
  margin-bottom: 10px;
  
}

.footer-column ul {
  list-style: none;
  
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

/* ========== FOOTER END ========== */
.container-end {
  display: flex;
  justify-content: center;
  height: 80px;
}

.end {
  display: flex;
  justify-content: space-between;
  width: 1015px;
  margin-top: 20px;
}

.button {
  background-color: #9a9bd9;
  color: white;
  border: none;
  padding: 9px 10px;
  border-radius: 40px;
  margin-top: 25px;
  
}

#footer-logo{
  margin-top: 20px;
}